/* Defaults */
a {
	text-decoration: none; /* remove underline from links */
}

a:link,a:visited {
	color:black;
}

body {
	text-align: center;
	margin: auto;
	padding-top: 55px;
}

img {
	/*display: none; images hidden until hover */
	margin-left: 15px;
	margin-right: 15px;
	border: 3px dashed black;
}

h1 {
	font-family: optima;
	font-size: 50pt;
	text-align: center;
	padding-bottom: 10px;
}

table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

th {
	height: 25%;
	width: 25%;
	text-align: center;
}

td {
	display: none;
}

/* IDs */
#index-table {
	table-layout: fixed; 	/* even box spacing */
	position: absolute;
	font-family: optima;
	font-size: 20pt;
	color: black;
	text-align: center; 
	padding-left: 70px;
	padding-right: 70px;
}

#title-name {
	font-family: optima;
	font-size: 45pt;
	color: #c7c7c7;
	opacity: 0.5;
    text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    border-right: 1pt solid black;
}

#title-blurb {
	font-family: optima;
	font-size: 20pt;
	color: #b01919;
	opacity: 0.4;
}

/* Classes */
.body-text {
	font-family: optima;
	font-size: 14pt;
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
}

.index-section {
	position: relative;
	font-family: optima;
	font-size: 20pt;
	border: 5px solid black;
	border-radius: 8px;
	height:200px;
	width: 50px;
}

.navigation {
	font-family: optima;
	font-size: 25pt;
	opacity: 0.5;
	padding: 3px 15px;
}

/* Animations */


/* Tab colors */
#about-me-home:visited,#chemistry-home:visited,#analytics-home:visited,#publications:visited {
	color:black;
}

#about-me-home:hover{
	background-color: #b01919; /*ff3730*/
}

#chemistry-home:hover{
	background-color: #cc5500; 
}

#analytics-home:hover{
	background-color: #037887;
}

#publications-home:hover{
	background-color: #1d81eb;
}

#index-nav:active,#index-nav:hover,#index-nav:link,#index-nav:visted{
	color: black;
}

#about-me-nav:active,#about-me-nav:hover,#about-me-nav:link,#about-me-nav:visited{
	color: #b01919;
}

#chemistry-nav:active,#chemistry-nav:hover,#chemistry-nav:link,#chemistry-nav:visited{
	color: #cc5500;
}

#analytics-nav:active,#analytics-nav:hover,#analytics-nav:link,#analytics-nav:visited{
	color: #037887;
}

#publications-nav:active,#publications-nav:hover,#publications-nav:link,#publications-nav:visited{
	color: #1d81eb;
}
